/* Notepad page */
.notepad-container {
  background: #fffdf0;
  background-color: #fffdf0;
  background-image: repeating-linear-gradient(
    to bottom,
    #fffdf0 0px,
    #fffdf0 28px,
    #f5e6c8 29px
  );
  min-height: 100vh;
  padding: 20px;
  font-family: 'Caveat', cursive;
  position: relative;
   color: #4b2e83;
}

.notepad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed #d3b88c;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.notepad-header h1 {
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  margin: 0;
}
.settings-icon {
  font-size: 1.6rem;
  cursor: pointer;
  color: #6b46c1;
}
.notepad-content {
  margin-top: 20px;}
.note-line {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.heart {
color: crimson;
  font-size: 1.4rem;
  margin-right: 10px;
  cursor: pointer;
}

.note-text {
  flex: 1;
  border: none;
  border-bottom: 2px dotted #d3b88c;
  background: transparent;
  font-size: 1.2rem;
  outline: none;
  resize: none;
  font-family: caveat,cursive;
}

/* Pattern Lock */
.pattern-grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.dot {
  width: 40px;
  height: 40px;
  border: 2px solid #6B46C1;
  border-radius: 50%;
}

.dot.active {
  background-color: #6B46C1;
}

.pattern-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
}

/* Settings Page */
.settings-page h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #6B46C1;
  margin-bottom: 20px;
  border-bottom: 2px dashed #d3b88c;
  padding-bottom: 8px;
}

.settings-page {
  background-color: #fffdf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family:cursive
}

.settings-section {
  margin-bottom: 20 px;
  padding: 20px;;
}

.settings-section input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #d3b88c;
  border-radius: 5px;
}

.settings-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  background-color: #fffdf0;
}

.save-button {
  background-color: #6B46C1;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.save-button:hover {
  background-color: #5530a0;
}

.back-button {
  background: transparent;
  color: #6B46C1;
  border: 2px solid #6B46C1;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.back-button:hover {
  background-color: #e8dffb;
}
